<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.beanu.ifthen"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:name=".application.IFTApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.beanu.ifthen.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.beanu.ifthen.ui.IFActivity" >
        </activity>
        <activity android:name="com.beanu.ifthen.ui.IF.ReceiveSmsActivity" >
        </activity>
        <activity android:name="com.beanu.ifthen.ui.THENActivity" >
        </activity>
        <activity android:name="com.beanu.ifthen.ui.THEN.DisplayActivity" >
        </activity>
    </application>

</manifest>